<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布</title>
    <script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/publish.css">
</head>

<body>
<div th:insert="navigation :: nav"></div>
<div class="container-fluid main"  >
    <div class="row"> <!--分成12份 最开始是9:3的宽度 后面会变垂直排列一样宽度-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name="questionId" th:value="${questionId}">
                <div class="form-group">
                    <label for="title">问题标题(简单扼要):</label>
                    <input type="text" class="form-control" id="title" name="title" th:value="${title}" placeholder="输入问题标题...">
                </div>
                <div class="form-group">
                    <label for="description" >问题补充:</label>
                    <textarea class="form-control" name="description" id="description" cols="30" rows="10" th:text="${description}">\
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="tag" >添加标签:</label>
                    <input class="form-control" name="tag" id="tag" th:value="${tag}" placeholder="输入标签，以,号隔开。">
                </div>
                <!--显示错误以及按钮划分为一个区域-->
                <div class="container-fluid main" >
                    <div class="row">
                    <!--错误信息的提示-->
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 alert alert-danger"
                                 th:if="${error}!=null" th:text="${error}">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-success btn-publish">
                                发布
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" >
            <h3>问题发起指南</h3>
            <ul>
                <li>第1句话</li>
                <li>第2句话</li>
                <li>第3句话</li>
                <li>第4句话</li>
                <li>第5句话</li>
                <li>第6句话</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>